<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<head>
<style>
  p {text-align: center;}
</style>
</head>

<p><font size="+1"> <b> Team Bios </b> </font></p><br>
<p>Ashley Hitchings is a fourth-year studying Economics and Data Science at the University of Chicago. Originally from Palo Alto, CA, she enjoys long hikes, board games, and longform journalism. </p><br>
<p>Noah Taylor is a fourth-year studying Biology and Data Science at the University of Chicago. Orginially from Chicago, IL, he enjoys chess, soccer, and sudoku. </p><br>
<br>
<br>

{% if user.is_authenticated %}
  <p>Hi <mark><b>{{ user.username }}</b></mark>!</p>
{% else %}
  <p>You are not logged in</p>
  <p><a href="{% url 'login' %}">Log In</a></p>
{% endif %}

<br>

{% for today_date in dict %}
<p> Today's date is {{ today_date }} </p>
{% endfor %}


{% endblock %}
