<form method="post" action="handleaddCourse">
  {% csrf_token %}

  <label for="courseid">courseid:</label><br>
  <input type="text" id="courseid" name="courseid"><br>
  <label for="course_name">course_name:</label><br>
  <input type="text" id="course_name" name="course_name"><br>
  <label for="instructorid">instructorid:</label><br>
  <input type="text" id="instructorid" name="instructorid"><br>
  <input type="submit" value="Submit">
  <p>For class recurrence, please input the days of the week the class occurs on, using the following 1-letter codes for each day:</p><br>
  <p>Monday: M, Tuesday: T, Wednesday: W, Thursday: R, Friday: F</p><br>
  <label for="recurrence">recurrence:</label><br>
  <input type="text" id="recurrence" name="recurrence"><br>
  <p>For class time, please input all times in the form HH:MM, please use 24-hour time</p><br>
  <label for="classtime">classtime:</label><br>
  <input type="text" id="classtime" name="classtime"><br>
</form>
  
  {{error}}
