{% extends 'base.html' %}

{% block content %}
<p>Course Name: {{course_name}}</p>
<p>Course ID: {{courseid}}</p>

  <h3>Student Uploads by Class Meeting</h3>
<table>
  <thead>
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      {% for class_instance in class_instances %}
      <th>Class Meeting {{ forloop.counter }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for student in to_display %}
    <tr>
      <td>{{ student.studentid }}</td>
      <td>{{ student.first_name }}</td>
      <td>{{ student.last_name }}</td>
      {% for class_instance in class_instances %}
      <td>{{ student[get_item:'classmeeting']add:forloop.counter }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
